.fila{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#firstfila{
    display: flex;
    flex-direction: row;
}
.n{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}